.is-active{
  color: gold !important;
  
}
.react-rater-star{
  font-size: 33px;
} 
.doc-img-wrap{
  border-radius: 50%;
  width: 269px;
  height: 269px;
  overflow: hidden;
}
.docs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 110px;
}
.doc-img{
  width: 100%;
}
.doctor{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}
.doc-spec{
  text-align: center;
  font-size: 18px;
  color: #40BAFF;
  font-weight: bold;
}
.doc-name{
  font-size: 24px;
  max-width: 260px;
  text-align: center;
  font-weight: bold;
}

.searchList{
  list-style: none;
  position: absolute;
  z-index: 1000;
  background: #FFF;
  border: 1px solid #BFBFBF;
  padding: 0;
  left: 29%;

}
ul.searchList li {
  padding: 10px 68px;
  border-top: 1px solid #BFBFBF;
}
ul.searchList li:hover {
  background-color: #ECF0F1;
}
.searchListImage{
  width: 100px;
  height: 100px;
}